
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container h2 {
  margin-bottom: 15px;
}

.btn {
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
.btn:hover {
  background: #218838;
}
.error {
  color: red;
  background: #ffe5e5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.success {
  color: green;
  background: #e5ffe5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}


h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: #F6F6F6;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.message {
  color: green;
  font-weight: bold;
}



.logout-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: darkred;
}
